### Question 1: Which state have the most number of cases?
### Question 2: Get percentage value of currentstatus from total values.

In [15]:
import json
import pandas as pd
from pandas.io.json import json_normalize

with open('rawdata.json', 'r') as json_file:
    data = json.load(json_file)

df = json_normalize(data['raw_data'])
df.head()

,agebracket,contractedfromwhichpatientsuspected,currentstatus,dateannounced,detectedcity,detecteddistrict,detectedstate,entryid,gender,nationality,notes,numcases,patientnumber,source1,source2,source3,statecode,statepatientnumber,statuschangedate,typeoftransmission
0,,,Hospitalized,27/04/2020,,,West Bengal,1,,,Details awaited,38,27892,mohfw.gov.in,,,WB,,,
1,,,Hospitalized,27/04/2020,,Bhilwara,Rajasthan,2,,,Details awaited,2,27893,https://twitter.com/ANI/status/125461859651442...,,,RJ,,,
2,,,Hospitalized,27/04/2020,,Jaipur,Rajasthan,3,,,Details awaited,9,27894,https://twitter.com/ANI/status/125461859651442...,,,RJ,,,
3,28,,Deceased,27/04/2020,Surajpol,Jaipur,Rajasthan,4,M,,Details awaited,1,27895,https://twitter.com/ANI/status/125461859651442...,,,RJ,,,
4,,,Hospitalized,27/04/2020,,Jaisalmer,Rajasthan,5,,,Details awaited,1,27896,https://twitter.com/ANI/status/125461859651442...,,,RJ,,,

### Converting numcases to int/float with to_numeric function

In [16]:
df['numcases'] = pd.to_numeric(df['numcases'])
df.groupby('detectedstate')['numcases'].sum()

detectedstate
                                               38.0
Andaman and Nicobar Islands                    22.0
Andhra Pradesh                               1502.0
Assam                                          34.0
Bihar                                         599.0
Chandigarh                                    142.0
Chhattisgarh                                   33.0
Dadra and Nagar Haveli and Daman and Diu        1.0
Delhi                                        4781.0
Gujarat                                      6595.0
Haryana                                       476.0
Himachal Pradesh                               26.0
Jammu and Kashmir                             547.0
Jharkhand                                     139.0
Karnataka                                     506.0
Kerala                                        180.0
Ladakh                                         24.0
Madhya Pradesh                               2653.0
Maharashtra                                 15209.0
Meghalaya                                      11.0
Mizoram                                         1.0
Odisha                                        284.0
Puducherry                                      6.0
Punjab                                       1526.0
Rajasthan                                    3121.0
Tamil Nadu                                   5474.0
Telangana                                     602.0
Tripura                                       133.0
Uttar Pradesh                                2716.0
Uttarakhand                                    37.0
West Bengal                                  1593.0
Name: numcases, dtype: float64

In [17]:
df.groupby('detectedstate')['numcases'].sum().sort_values(ascending=False)

detectedstate
Maharashtra                                 15209.0
Gujarat                                      6595.0
Tamil Nadu                                   5474.0
Delhi                                        4781.0
Rajasthan                                    3121.0
Uttar Pradesh                                2716.0
Madhya Pradesh                               2653.0
West Bengal                                  1593.0
Punjab                                       1526.0
Andhra Pradesh                               1502.0
Telangana                                     602.0
Bihar                                         599.0
Jammu and Kashmir                             547.0
Karnataka                                     506.0
Haryana                                       476.0
Odisha                                        284.0
Kerala                                        180.0
Chandigarh                                    142.0
Jharkhand                                     139.0
Tripura                                       133.0
                                               38.0
Uttarakhand                                    37.0
Assam                                          34.0
Chhattisgarh                                   33.0
Himachal Pradesh                               26.0
Ladakh                                         24.0
Andaman and Nicobar Islands                    22.0
Meghalaya                                      11.0
Puducherry                                      6.0
Mizoram                                         1.0
Dadra and Nagar Haveli and Daman and Diu        1.0
Name: numcases, dtype: float64

### Getting output of currentstatus as dict, and creating new DataFrame

In [18]:
patient_stats_dict = df.groupby('currentstatus')['numcases'].sum().sort_values(ascending=False).to_dict()
stats_df = pd.DataFrame(patient_stats_dict.items())
stats_df.columns = ['patient_status', 'patient_count']
stats_df.head()

  patient_status  patient_count
0   Hospitalized        34977.0
1      Recovered        12814.0
2       Deceased         1220.0

### Adding percentage column

In [19]:
stats_df['percentage'] = (stats_df['patient_count'] * 100) /  stats_df['patient_count'].sum()
stats_df.head()

  patient_status  patient_count  percentage
0   Hospitalized        34977.0   71.365612
1      Recovered        12814.0   26.145151
2       Deceased         1220.0    2.489237